<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.project_studentmanagement_android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Project_StudentManagement_Android"
        android:usesCleartextTraffic="true">
        <activity android:name=".View.Login_ForgetPass.Student.Student_Schedule_Detail"></activity>
        <activity android:name=".View.Login_ForgetPass.Student.Schedule" />
        <activity android:name=".View.Login_ForgetPass.Student.Student_Subject" />
        <activity android:name=".View.Login_ForgetPass.Admin.User.Admin_UserAddNewUserStudent" />
        <activity android:name=".View.Login_ForgetPass.Admin.User.Admin_UserDeleteUser" />
        <activity android:name=".View.Login_ForgetPass.Admin.User.User_AddNewTeacher" />
        <activity android:name=".View.Login_ForgetPass.Admin.User.User_AddNewStudent" />
        <activity android:name=".View.Login_ForgetPass.Admin.User.Admin_UserAddNewUser" />
        <activity android:name=".View.Login_ForgetPass.Admin.User.Admin_UserManagementHomepage" />
        <activity android:name=".View.Login_ForgetPass.Admin.Study.Study_InsertScores" />
        <activity android:name=".View.Login_ForgetPass.Admin.Study.Study_DeletestudentOutClass" />
        <activity android:name=".View.Login_ForgetPass.Admin.Study.Study_AddStudentInClass" />
        <activity android:name=".View.Login_ForgetPass.Admin.Study.Study_StudentInfomation" />
        <activity android:name=".View.Login_ForgetPass.Admin.Study.Admin_StudyPage" />
        <activity android:name=".View.Login_ForgetPass.Student.Count_Detail" />
        <activity android:name=".View.Login_ForgetPass.Student.Count" />
        <activity android:name=".View.Login_ForgetPass.Student.Profile" />
        <activity android:name=".View.Login_ForgetPass.Student.Student_Home" />
        <activity android:name=".View.Login_ForgetPass.Admin.Classes.Classes_EditClass" />
        <activity android:name=".View.Login_ForgetPass.Admin.Classes.Classes_DeleteClass" />
        <activity android:name=".View.Login_ForgetPass.Admin.Classes.Classes_AddClass" />
        <activity android:name=".View.Login_ForgetPass.Admin.Subject.Subject_EditSubject" />
        <activity android:name=".View.Login_ForgetPass.Admin.Subject.Subject_DeleteSubject" />
        <activity android:name=".View.Login_ForgetPass.Admin.Subject.Subject_AddSubject" />
        <activity android:name=".View.Login_ForgetPass.Admin.Classes.Admin_ClassPage" />
        <activity android:name=".View.Login_ForgetPass.Admin.Admin_homepage" />
        <activity android:name=".View.Login_ForgetPass.ChangePass" />
        <activity android:name=".View.Login_ForgetPass.VerifyCode" />
        <activity android:name=".View.Login_ForgetPass.ForgetPassword" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>